body{
    background-color: #f1f1f1;
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", "Gill Sans";
    overflow-y: hidden;
    min-width: 1000px;
}
body::-webkit-scrollbar {
    height: 5px;
    background: #fff;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb{
    background: #31c27c;
    border-radius: 5px;
}
.App{
    min-width: 1000px;
    height: calc(100vh - 10px);
    box-shadow: 0 0 10px #ccc;
    margin: 5px;
    border-radius: 5px;
}